<h1>Welcome to timetracker, <%= @user.name %><h1>
 
<p> You have successfully signed up to timetracker,
your username is: <%= @user.email %> </p>
 
<p>To login to the site, just follow this link: <%= @url %> </p>

